{{ define "main" }}

<header class="ph3 ph4-ns">
  <h1 class="f1 f1-vw-l normal" style="">{{ .Title }}</h1>
  <div id="blog-content"></div>
</header>

<style media="screen">
  .rssblog h1 {
    font-size: 1.2em;
  }
</style>

<!-- AJAX/FETCH METHOD -->
<section>
  <script type="text/javascript">
    const RSS_URL = "https://community.resonate.coop/c/blog/104.rss";
    console.log('hi')
    const test = async () => {
      await fetch(RSS_URL)
        .then(response => response.text())
        .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
          .then(data => {
            console.log('data', data)
            const items = data.querySelectorAll("item");

            let html = ``;
            items.forEach(el => {
              console.log('el', el)
              // FIXME: is there a nicer way to get these?
              const link = el.children[4].firstChild.textContent
              const title = el.children[0].firstChild.textContent
              const pubDate = new Date(el.children[5].firstChild.textContent)
              const description = el.children[3].firstChild.textContent
              const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
              const dateString = pubDate.toLocaleDateString(undefined, options)

              document.getElementById
              html += `
                <article class="relative flex flex-column-reverse flex-row-reverse-l mb5 f5 f5-vw-l">
                  <div class="w-100 w-60-l ph2 ph3-ns">
                    <img src="${link}/image/large.png" alt="">
                    <h2 class="f4 f4-vw-l mv0" style="text-decoration:none;">${title}</h2>
                    <p class="mt1 mb4 dark-gray"><time datetime="" style="text-transform: capitalize;">${dateString} </time></p>
                    <p class="near-black">
                    ${description}
                    <a href="${link}" class="db link-full normal black mt3">Continue Reading</a>
                    </p>
                  </div>
                </article>
              `;
            });
            document.getElementById('blog-content').insertAdjacentHTML("beforeend", html);
          })
      }

    test()

  </script>
</section>

{{ end }}
