<section id="join" class="bt b--gray">
  <div class="center mw8 cf mt3 mb4 ph2 ph3-ns">
    <div class="fl w-100 w-70-m w-40-l ph2 ph3-ns mt4">
      <a href="/join" class="link ph4 pv2 b dib ba b--mid-gray mb2 near-black">Join now</a>
      <p class="mw6"><strong>Create a listening account</strong>, and get 0.128 Resonate credits (about 4 hours streaming) for free.</p>
    </div>
    <div class="fl w-100 w-30-m w-20-l ph2 ph3-ns mt4">
      {{ $hash := .Site.Data.images.hash }}
      {{ $image := "illustrations/Peer2peer1_transparent.png" }}
      <img class="db center w-full h-auto" src="/images/{{ index $hash $image }}" srcset="/images/{{ index $hash (replace $image ".png" "@2x.png") }} 2x" width="118" height="118" alt="">
    </div>
    <div class="fl w-100 w-70-m w-40-l ph2 ph3-ns mt4">
      <a href="/the-coop" class="link ph4 pv2 b dib ba b--mid-gray mb2 near-black">Become a member</a>
      <p class="mw6"><strong>Join as an artist</strong> to become eligible as a member of the co-op and own your streaming platform.</p>
    </div>
  </div>
</section>

<footer id="footer" class="footer-component bg-black white pt4 pb5" role="contentinfo">
  <div class="center mw8 cf ph2 ph3-ns">
    <div class="fl-ns w-100 w-20-ns" style="margin-top:1px">
      <a class="logo link flex items-center flex-shrink-0 h-100 mb3 pl2-ns pr3-ns" href="/" aria-label="Homepage">
        <svg viewBox="0 0 233 100" width="116.5" height="50" class="icon icon-resonate dn" aria-hidden="true"><use xlink:href="#icon-resonate"></use></svg>
      </a>
    </div>
    <div class="fl-ns w-100 w-80-ns pt3">
      <nav id="footer-nav" class="flex flex-auto flex-wrap flex-row items-start">
        <div class="w-50 w-25-l ph3-ns mb3">
          <h3 class="normal ttu mb2 mt0">{{ T "learn" }}</h3>
          <ul class="list pl0">
            {{ range .Site.Menus.footer1 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="w-50 w-25-l ph3-ns mb3">
          <h3 class="normal ttu mb2 mt0">{{ T "community" }}</h3>
          <ul class="list pl0">
            {{ range .Site.Menus.footer2 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="w-50 w-25-l ph3-ns mb3">
          <h3 class="normal ttu mb2 mt0">{{ T "connect" }}</h3>
          <ul class="list pl0">
            <li aria-label="Social links">
              <ul class="list pb2 pl0 di">
                {{ range .Site.Params.social }}
                <li class="dib ma0 pb2 mr1">
                  <a class="link normal mid-gray pa0 lh-copy ttu" href="{{ .url }}"{{ if hasPrefix .url "http" }} target="_blank" rel="noopener noreferer"{{ end }} title="{{ .title }}">{{ .name }}</a>
                </li>
                {{ end }}
              </ul>
            </li>
            {{ range .Site.Menus.footer3 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="w-50 w-25-l ph3-ns mb3">
          <h3 class="normal ttu mb2 mt0">{{ T "code" }}</h3>
          <ul class="list pl0">
            {{ range .Site.Menus.footer4 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </nav>
      <div class="flex flex-auto flex-wrap flex-row-m items-start dark-gray f5 ttu normal">
        <div class="w-100 w-50-m w-25-l ph3-ns">
          <span>© <time datetime="2015">2015</time>–<time datetime="{{ now.Format "2006"}}">{{ now.Format "2006"}}</time> {{ .Site.Params.legal}}</span>
        </div>
        {{ range .Site.Menus.footer }}
        <div class="w-100 w-50-m w-25-l ph3-ns">
          <a class="link ttu" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        </div>
        {{ end }}
        <div class="w-100 w-50-m w-25-l ph3-ns">
          <span>7.0.2</span>
        </div>
      </div>
    </div>
  </div>
</footer>