<section id="join" class="ph3 ph4-ns bt b--gray text-center flex justify-center items-center pv5">
  <a href="https://id.resonate.coop/join" class="btn btn-black f5 f5-vw-l">{{ T "join_now" }}</a>
</section>

<footer id="footer" class="footer-component bg-black white pt4 pb6 pb5-l f5" role="contentinfo">
  <div class="cf ph2 ph3-ns">
    <div class="fl-ns w-100 w-20-ns" style="margin-top:1px">
      <a class="logo link flex items-center flex-shrink-0 h-100 mb3 pl2-ns pr3-ns" href="/" aria-label="Homepage">
        <svg viewBox="0 0 233 100" width="116.5" height="50" class="icon icon-resonate dn" aria-hidden="true"><use xlink:href="#icon-resonate"></use></svg>
      </a>
    </div>
    <div class="fl-ns w-100 w-80-ns pt3">
      <nav id="footer-nav" class="flex flex-auto flex-wrap flex-row items-start">
        <div class="w-50 w-25-l ph2 ph3-ns mb3">
          <h2 class="f5 normal ttu mb2 mt0">{{ T "learn" }}</h2>
          <ul class="list pl0">
            {{ range .Site.Menus.footer1 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="w-50 w-25-l ph2 ph3-ns mb3">
          <h2 class="f5 normal ttu mb2 mt0">{{ T "community" }}</h2>
          <ul class="list pl0">
            {{ range .Site.Menus.footer2 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="w-50 w-25-l ph2 ph3-ns mb3">
          <h2 class="f5 normal ttu mb2 mt0">{{ T "connect" }}</h2>
          <ul class="list pl0">
            <li aria-label="Social links">
              <ul class="list pb2 pl0 di">
                {{ range .Site.Params.social }}
                <li class="dib ma0 pb2 mr1">
                  <a class="link normal mid-gray pa0 lh-copy ttu" href="{{ .url }}"{{ if hasPrefix .url "http" }} target="_blank" rel="noopener noreferer"{{ end }} title="{{ .title }}">{{ .name }}</a>
                </li>
                {{ end }}
                {{ range .Site.Params.rss }}
                <li class="dib ma0 pb2 mr1">
                  <a class="link normal mid-gray pa0 lh-copy ttu" href="{{ .url }}"{{ if hasPrefix .url "http" }} target="_blank" rel="noopener noreferer"{{ end }} title="{{ .title }}">{{ .name }}</a>
                </li>
                {{ end }}
              </ul>
            </li>
            {{ range .Site.Menus.footer3 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="w-50 w-25-l ph2 ph3-ns mb3">
          <h2 class="f5 normal ttu mb2 mt0">{{ T "code" }}</h2>
          <ul class="list pl0">
            {{ range .Site.Menus.footer4 }}
            <li class="ma0 pb2">
              <a class="link normal mid-gray pa0 lh-copy" href="{{ .URL | absLangURL }}"{{ if hasPrefix .URL "http" }} target="_blank" rel="noopener noreferer"{{ end }}>{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
        </div>
      </nav>
      <div class="flex flex-auto flex-wrap flex-row-m items-start dark-gray ttu normal">
        <div class="w-100 w-50-m w-25-l ph2 ph3-ns">
          <span>© <time datetime="2015">2015</time>–<time datetime="{{ now.Format "2006"}}">{{ now.Format "2006"}}</time> {{ .Site.Params.legal}}</span>
        </div>
        {{ range .Site.Menus.footer }}
        <div class="w-100 w-50-m w-25-l ph2 ph3-ns">
          <a class="link ttu" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</footer>