{{ range .Site.Menus.footer }}
<a href="{{ .URL }}" title="{{ .Name }}">{{ .Name }}</a>
{{ end }}

<div class="mani-outro pa5 fl white">
  <div class="cta w-75 mt4">
    <h2 class="f3">
      We are building a music streaming network that will replace broken industry models with fairness, transparency, and cooperation.
      <br />
      <br />
      <strong>Join the closed beta now.</strong>
    </h2>
    <form class="form-white">
        <input class="g2" type="text" placeholder="Email" />
        <br />
        <button class="btn g2 mt1 btn-white" type="submit" />
          Join
        </button>
    </form>
  </div>
</div>
