<nav role="navigation" aria-label="Main navigation" class="relative dropdown-navigation--focus">
  <ul role="menu" class="list ma0 pa0 dn relative-l flex-l">
    <li>
      <a class="logo link flex items-center flex-shrink-0 h-100 ph2" href="/" aria-label="Homepage">
        <svg viewBox="0 0 100 100" width="50" height="50" class="icon icon-logo" aria-hidden="true"><use xlink:href="#icon-logo"></use></svg>
        <svg viewBox="0 0 233 100" width="116.5" height="50" class="icon icon-resonate" aria-hidden="true"><use xlink:href="#icon-resonate"></use></svg>
      </a>
    </li>
    <li id="learn" class="flex flex-auto w-100 justify-center">
      <button title="Open learn menu" class="bg-transparent near-black near-black--light near-white--dark bn dropdown-toggle pa3">
        <div class="flex justify-center items-center">
          <span>{{ T "learn" }}</span> 
          <div class="ph2">
            <svg viewBox="0 0 16 16" class="icon icon-caret-down icon--xxs"><use xlink:href="#icon-caret-down"></use></svg>
          </div>
        </div>
      </button>
      <ul role="menu" style="width:120px;margin-top:1px" class="bg-white black bg-black--dark white--dark bg-white--light black--light ba bw b--mid-gray b--mid-gray--light b--near-black--dark list ma0 pa0 absolute left-0 right-0 dropdown z-999">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li role="menuitem" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
          <a href="{{ .URL | absLangURL }}" class="link db w-100 ph3 pv2 bg-animate hover-bg-light-gray hover-bg-light-gray--light hover-bg-dark-gray--dark">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
  </ul>
</nav>
