<nav role="navigation" aria-label="Player navigation" class="dropdown-navigation flex w-100 w-40-l flex-auto justify-end-l">
  <ul role="menu" class="flex list ma0 pa0 w-100 w-75-l justify-around items-center mr3-l">
    <li role="menuitem" class="flex flex-auto w-100 justify-center relative">
      <a href="https://stream.resonate.ninja/artists" class="dn db-l link near-black near-black--light near-white--dark pv2 ph3">Browse</a>
      <button title="Open Browse Menu" class="db dn-l bg-transparent bn near-black near-black--light near-white--dark pa0">
      <span class="flex justify-center items-center">Browse</span></button>
    </li>
    <li role="menuitem" class="flex flex-auto w-100 justify-center relative">
      <a href="https://stream.resonate.ninja/discover" class="link db near-black near-black--light near-white--dark pv2 ph3">Discover</a>
    </li>
    <li role="divider" class="flex flex-auto w-100 justify-center"></li>
    <li role="menuitem" class="flex flex-auto justify-center w-100">
      <a href="https://stream.resonate.ninja/api/v2/user/connect/resonate" class="link pv1 ph3 ttu ba b--mid-gray b--dark-gray--dark db f6 b">Log In</a>
    </li>
    <li role="divider" class="dn flex-auto w-100 justify-center"></li>
  </ul>
</nav>
