<nav class="w-60 flex items-center">
  <ul class="w-100 list ma0 pa0 flex flex-end justify-between items-center tr">
    {{ $currentPage := . }}
    {{ range first 3 .Site.Menus.main }}
    <li class="w-30 pv2 tr">
      <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} no-underline pa1 ttc body2 body-l lh-copy" title="{{ .Name }}">{{ .Name }}</a>
    </li>
    {{ end }}
    
    <li class="w-30 pv2 tr">
    <div class="flex flex-auto justify-center items-center"></div>
    <label class="relative w2 h2 ml3 dib bn" for="menu-switch" id="menu-toggle">
      {{ partial "icons/svg.html" (dict "svg" "toggle" "stroke" "currentcolor") }}
    </label>
    </li>
  </ul>
</nav>