<nav class="w-70 flex items-center">
  <ul class="w-100 list ma0 pa0 flex flex-end justify-between tr">
    {{ $currentPage := . }}
    {{ range first 2 .Site.Menus.main }}
    <li class="w-30 pv2 tr">
      <a href="{{ .URL }}" class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }} no-underline pa1 ttc body2 body-l lh-copy" title="{{ .Name }}">{{ .Name }}</a>
    </li>
    {{ end }}
    <li class="w-30 pv2 tr">
      <a href="https://id.resonate.coop" class="no-underline pa1 ttc body2 body-l lh-copy" title="Join us">Join Us</a>
    </li>
  </ul>
</nav>
