<header class="z-max flex w-100 ph3-ns overflow-hidden ph2 justify-between items-center">
  <a href="/" class="flex items-center">
    <span id="nav-logo" class="icon--lg dib no-underline pv1 border-box flex items-center">
      {{ partial "icons/svg.html" (dict "svg" "logo" "color" "fill-current-color") }}
    </span>

    {{ if eq .Section ""}}
    <span class="w4 dn border-box flex-ns items-center overflow-hidden pv1 pl2" style="height: 58px;">
      {{ partial "icons/svg.html" (dict "svg" "logotype" "color" "fill-current-color") }}
    </span>
    {{ end }}
  </a>

  {{ partial "components/nav" . }}
</header>