{{ if eq .Section ""}}
<div id="waves-wrapper" class="w-100 relative overflow-hidden ph1 ph3-ns">
  <h1 class="f2-home relative z-999">{{ .Title }}</h1>
  <div class="w-100 pt3-l">
    <span class="f4 pa0 w-100 dn-l">{{ .Params.subhead }}</span>
    <span class="w-100 w-auto-l dib pa0">
      <a href="" class="btn btn-fat btn-fat-reponsive mt1 ttu ba b--near-black inline-flex flex-column ph4 pv0"/>
        Join Us
      </a>
    </span>
    <span class="f4 pl3 w-100 w-auto-l dn dib-l">{{ .Params.subhead }}</span>
  </div>
</div>


{{ else if eq .Section "pricing" }}
<h1 class="f3 f2-ns lh-title lh-solid-ns mb1 mb3-l">{{ .Params.subhead | safeHTML }}</h1>

{{ else if eq .Section "coop" }}
<h1 class="f3 f1-ns lh-title lh-solid-ns mb1 mb3-l">{{ .Title | safeHTML }}</h1>
{{ if .Params.subhead}}
<p class="mw7 f5 f4-ns lh-title mt1">{{ .Params.subhead | safeHTML }}</p>
{{ end }}

{{ else if eq .Section "team" }}
<h1 class="f3 f2-ns lh-title lh-solid-ns mb1 mb3-l">{{ .Title | safeHTML }}</h1>
{{ if .Params.subhead}}
<p class="f5 f4-ns lh-title mt1">{{ .Params.subhead | safeHTML }}</p>
{{ end }}

{{ else }}
<h1 class="f3 f2-ns lh-title lh-solid-ns mb1 mb3-l w-60-l">{{ .Title | safeHTML }}</h1>
{{ if .Params.subhead}}
<p class="w-60-l f5 f4-ns lh-title mt1">{{ .Params.subhead | safeHTML }}</p>
{{ end }}

{{ end }}
