<section class="w-100 white bg-black">
  {{ if eq .Section "tge" }}
  {{ else }}
  <div class="flex justify-center w-100">
    <div class="w-100 w-60-l pv3 pv5-l pa2 pl3-ns">
      <span class="f2 lh-title ph0">Invest in the future of <br class="dn di-l">music</span><br>
      <span class="f3 lh-title ph0 dib pt2">The Resonate Token Generation <br class="dn di-l">Event is open.</span>
      <div class="mt3">
        <a href="/tge" class="btn btn-fat btn-true-white ttu"/>
          Learn more
        </a>
      </div>
    </div>
  </div>
  {{ end }}
  <div class="flex flex-column flex-row-l w-100 pt3 pb1 pt5-l pb2-l">
    <div class="w-80 w-20-l ph2 pb3 ph3-l">
      <div class="w4 v-top flex items-center overflow-hidden" style="height: 23px;">
      {{ partial "icons/svg.html" (dict "svg" "logotype" "color" "fill-white") }}
      </div>
    </div>

    <div class="w-100 w-80-l pl2 pl0-l">
      <nav class="flex ttu">
        <ul class="list ma0 pa0 pr2 flex flex-column">
          {{ range .Site.Menus.footer1 }}
          <li class="">
            <a href="{{ .URL }}" class="white dib no-underline pl0 ph3-l pt0 pb2" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li class="body2 dark-gray pl0 ph3-l pt4 pb2">&copy; {{ now.Format "2006" }} Resonate</li>
        </ul>
        <ul class="list ma0 pa0 flex flex-column pl4 pl0-l">
          {{ range .Site.Menus.footer2 }}
          <li class="">
            <a href="{{ .URL }}" class="white dib no-underline pl0 ph3-l pt0 pb2" title="{{ .Name }}">{{ .Name }}</a>
          </li>
          {{ end }}
          <li class="body2 dark-gray pl0 ph3-l pt4 pb2">Terms + Conditions</li>
        </ul>
      </nav>
    </div>
  </div>
</section>
