<header id="sticky-nav" class="z-9999 flex w-100 ph3-ns overflow-hidden ph2">
  <a href="/" id="nav-logo" class="dib no-underline pv1 border-box flex items-center">
    {{ partial "icons/svg.html" (dict "svg" "logo" "color" "fill-black") }}
  </a>
  {{ if eq .Section ""}}
  <span class="w4 dn border-box flex-ns items-center overflow-hidden pv1 pl2" style="height: 58px;">
    {{ partial "icons/svg.html" (dict "svg" "logotype" "color" "fill-black") }}
  </span>
  {{ end }}

  <div class="flex flex-auto justify-center items-center"></div>
  {{ partial "components/nav" . }}
</header>
