
{{ partial "header.html" . }}
{{ $paginator := .Paginate (where .Data.Pages "Type" "post") 5 }}
{{ range $paginator.Pages }}
    <div class="post-title">
      <a class="post-title-link" href="{{ .Permalink }}">{{ .Title }}</a>
    </div>
    {{ if isset .Params "tags" }}
        <div class="tags">tags:</br>
          {{ range  .Params.tags }}<a class="tag-link" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" rel="tag">{{ . }} </a>
          {{ end }}</div>
      <div class="content-tags"><p>{{.Summary}}</p></div>{{ else }}
      <div class="content-full"><p>{{.Summary}}</p></div>  {{ end }}
  {{ end }}
{{ partial "pagination.html" . }}
{{ partial "footer.html" . }}
