{{ define "main" }}

<header class="pa3 pa4-ns mb5">
  <div class="flex flex-column-reverse flex-row-ns items-center-ns justify-between">
    <h1 class="w-100 w-60-ns f1 f1-vw-l normal mt3 mt5-ns mb5">{{ .Title }}</h1>
    <figure class="w-100 w-40-ns w-40-l ma0">
      {{ with .Params.img }}
      {{- $img := resources.Get .src -}}
      <img class="db center-ns h-auto" src="{{ $img.Permalink }}"{{ if in .src ".png" }}{{ $img2x := resources.Get (replace .src ".png" "@2x.png") }} srcset="{{ $img2x.Permalink }} 2x"{{ end }} width="280" height="280" alt="">
      {{ end }}
    </figure>
  </div>
  <div class="w-100 w-70-m w-60-l f5 f5-vw-l">
    <p class="f4 f4-vw-l">{{ .Params.subtitle | markdownify }}</p>
    <p>{{ .Params.text | markdownify }}</p>
  </div>
</header>

{{ with .Params.board }}
<section id="{{ .title | anchorize }}" class="ph2 ph3-ns mb5 bt b--gray">
  <header class="ph2 ph3-ns">
    <h2 class="f2 f2-vw-l normal">{{ .title }}</h2>
  </header>
  {{ range $.Site.Data.sections.team.board }}
  <div class="flex flex-row-reverse justify-end mb5">
    <div class="w-80 ph2 ph3-ns">
      <h3 class="f4 f4-vw-l mv0">{{ .name }}</h3>
      <p class="f4 f4-vw-l mt0">{{ .title }}</p>
      <details class="f5 f5-vw-l near-black">
        <summary class="">Bio</summary>
        {{ .bio | markdownify }}
      </details>
    </div>
    <figure class="w-20 ph2 ph3-ns h-100 ma0">
      {{ with .img }}
      {{- $img := resources.Get . -}}
      <img class="db w-100 h-auto grayscale" src="{{ $img.Permalink }}"{{ if in . ".png" }}{{ $img2x := resources.Get (replace . ".png" "@2x.png") }} srcset="{{ $img2x.Permalink }} 2x"{{ end }} width="192" height="192" alt="" loading="lazy">
      {{ end }}
    </figure>
  </div>
  {{ end }}
</section>
{{ end }}

{{ with .Params.network }}
<section id="{{ .title | anchorize }}" class="bt b--gray" style="margin-bottom: -1px">
  <header class="ph3 ph4-ns mb4">
    <h2 class="f2 f2-vw-l normal">{{ .title }}</h2>
    <p class="f4 f4-vw-l">{{ .subtitle | markdownify }}</p>
    <p class="f5 f5-vw-l near-black">{{ .text | markdownify }}</p>
  </header>
  <div class="flex flex-wrap bt b--gray" style="margin-right: -1px">
    {{ range $.Site.Data.sections.network }}
    <a href="{{ .link }}" target="_blank" rel="noopener" class="w-20 ph3 ph4 pv3 bb br b--gray" title="{{ .name }}">
      <figure class="ma0">
        {{- $name := .name -}}
        {{ with .img }}
        {{- $img := resources.Get . -}}
        <img class="db w-100 object-contain" src="{{ $img.Permalink }}"{{ if in . ".png" }}{{ $img2x := resources.Get (replace . ".png" "@2x.png") }} srcset="{{ $img2x.Permalink }} 2x"{{ end }} width="140" height="140" alt="{{ $name }}" loading="lazy" style="height: 140px">
        {{ end }}
      </figure>
    </a>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}
