@import 'tachyons/variables';

.bg-true-black {
  background-color: $true-black;
}

.bg-white-05 {
  background-color: $white-05;
}

.bg-white-06 {
  background-color: rgba(255, 255, 255, 0.06);
}

.bg-white-07 {
  background-color: rgba(255, 255, 255, 0.07);
}
