@font-face {
font-family: 'Graphik';
src: url('../fonts/Graphik-Semibold-Web.eot');
src: url('../fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
url('../fonts/Graphik-Semibold-Web.woff2') format('woff2'),
url('../fonts/Graphik-Semibold-Web.woff') format('woff');
font-weight: 600;
font-style: normal;
font-stretch: normal;
}

@font-face {
font-family: 'Graphik';
src: url('../fonts/Graphik-Regular-Web.eot');
src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
url('../fonts/Graphik-Regular-Web.woff') format('woff');
font-weight: 400;
font-style: normal;
font-stretch: normal;
}
