@font-face {
  font-family: 'Graphik Light';
  src: url('../fonts/Graphik-Light/Graphik-Light.eot');
  src: url('../fonts/Graphik-Light/Graphik-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Graphik-Light/Graphik-Light.woff2') format('woff2'),
  url('../fonts/Graphik-Light/Graphik-Light.woff') format('woff'),
  url('../fonts/Graphik-Light/Graphik-Light.svg#Graphik-Light') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Graphik Medium';
  src: url('../fonts/Graphik-Medium/Graphik-Medium.eot');
  src: url('../fonts/Graphik-Medium/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Graphik-Medium/Graphik-Medium.woff2') format('woff2'),
  url('../fonts/Graphik-Medium/Graphik-Medium.woff') format('woff'),
  url('../fonts/Graphik-Medium/Graphik-Medium.svg#Graphik-Medium') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Graphik Regular';
  src: url('../fonts/Graphik-Regular/Graphik-Regular.eot');
  src: url('../fonts/Graphik-Regular/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Graphik-Regular/Graphik-Regular.woff2') format('woff2'),
  url('../fonts/Graphik-Regular/Graphik-Regular.woff') format('woff'),
  url('../fonts/Graphik-Regular/Graphik-Regular.svg#Graphik-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }


@font-face {
  font-family: 'Graphik Semibold';
  src: url('../fonts/Graphik-Semibold/Graphik-Semibold.eot');
  src: url('../fonts/Graphik-Semibold/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Graphik-Semibold/Graphik-Semibold.woff2') format('woff2'),
  url('../fonts/Graphik-Semibold/Graphik-Semibold.woff') format('woff'),
  url('../fonts/Graphik-Semibold/Graphik-Semibold.svg#Graphik-Regular') format('svg');
  font-weight: normal;
  font-style: normal; }
