.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.icon--xxs {
  width: 9px;
  height: 9px;
}

.icon--xs {
  width: 12px;
  height: 12px;
}

.icon--sm {
  width: 16px;
  height: 16px;
}

.icon--md {
  width: 24px;
  height: 24px;
}

.icon--lg {
  width: 36px;
  height: 36px;
}
