@import 'tachyons/variables';

body {
  font-size: 15px;
  font-family: 'Graphik Regular', sans-serif;
  line-height: 1.467rem //22px
}

.f1, .f2, .f3, .f4, .f5 {
  font-weight: normal;
}

.f1, .f2 {
  font-family: 'Graphik Light';
}

.f1 {
  letter-spacing: -5px;
  line-height: 6.200rem;
}

.f2 {
  letter-spacing: -2px;
  line-height: 4.800rem;
}


.f3 {
  font-family: 'Graphik Regular', sans-serif;
  letter-spacing: -2px;
  line-height: 2.933rem;
}

.f4 {
  font-family: 'Graphik Regular', sans-serif;
  letter-spacing: -1px;
  line-height: 1.667rem;
}

.f-mani {
  font-size: 4.200em;
  line-height: 4.067rem;
  letter-spacing: -2px;
}

span {
  border: solid 1px $black;
  padding: 0 $spacing-extra-small;
}
