@import 'tachyons/variables';

.f1, .f2, .f3, .f4, .f5 {
  font-weight: normal;
}

.f1, .f2 {
  font-family: 'Graphik';
}

.f1 {
  letter-spacing: -5px;
  line-height: 6.200rem;
}

.f2 {
  letter-spacing: -2px;
  //line-height: 4.800rem;
}


.f3 {
  letter-spacing: -2px;
  //line-height: 2.933rem;
}

.f4 {
  letter-spacing: -1px;
  line-height: 2.2rem;
}

.f5 {
  letter-spacing: 0px;
}

.body {
  font-size: 1rem;
  line-height: 1.467rem;
}

.body2 {
  font-size: 0.8rem;
}

.f-mani {
  font-size: 4.200em;
  line-height: 4.067rem;
  letter-spacing: -2px;
}

@media #{$breakpoint-not-small}{
  .body-ns {
    font-size: 1rem;
    line-height: 1.467rem;
  }

  .body2-ns {
    font-size: 0.8rem;
  }
}

@media #{$breakpoint-medium} {
  .body-m {
    font-size: 1rem;
    line-height: 1.467rem;
  }

  .body2-m {
    font-size: 0.8rem;
  }
}

@media #{$breakpoint-large} {
  .body-l {
    font-size: 1rem;
    line-height: 1.467rem;
  }

  .body2-l {
    font-size: 0.8rem;
  }
}

span {
  //border: solid 1px $black;
  padding: 0 $spacing-extra-small;
}
