{{ define "main" }}

<header id="hero" class="mb6">
  <div class="center mw8 pa2 pa3-ns">

    <div class="flex flex-column-reverse flex-row-ns items-start">
      <div class="w-100 w-70-m w-60-l f5 f5-vw-l ph3 pl4-ns pr5-ns">
        <h1 class="f1">{{ .Title }}</h1>

        <h2 class="f2">{{ .Params.subtitle | markdownify }}</h2>
        {{- with .Params.hero }}
        <h3>{{ .subtitle1 | markdownify }}</h4>
        <p>{{ .p1 | markdownify }}</p>
        <h3>{{ .subtitle2 | markdownify }}</h4>
        <p>{{ .p2 | markdownify }}</p>
        <h2>{{ .subtitl3 | markdownify}}</h2>
        <p>{{ .p3 | markdownify }}</p>
        {{- end }}
      </div>
      <figure class="w-100 w-30-m w-40-l mh0 my3" aria-hidden="true">
        <div class="pa3 mw5 center">{{ partial "icons/stream2own.html" (dict "stream2own" "two") }}</div>
      </figure>
    </div>
  </div>
</header>

{{ with .Params.footer }}
<div class="bg-black white">
  <div class="center mw8 pa2 pa3-ns">

  <div class="w-100 flex flex-column flex-row-ns justify-between items-center bg-black white ph3 ph4-ns">

      <div class="w-100 w-70-m w-60-l f5 f5-vw-l pb4">
        <h2 class="f2 white">{{ .title | markdownify }}</h2>
        <p>{{ .p1 | markdownify}}</p>
        <h3>{{ .subtitle1 }}</h3>
        <p>{{ .p2 | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
{{ end }}


{{ end }}
