{{ define "main" }}
<section class="w-100 ph1 ph3-ns pt2 pt4-l relative z-9090">
  {{ partial "components/titleblock" . }}
</section>

<div class="w-100 cf" style="margin-top: -150px; z-index: 0;">
  {{ partial "tge/halftone_img_tge" . }}
  <img class="w-80 h-auto db fr relative z-9000" style="margin-top: -30%;" src="/images/{{ index .Site.Data.images.hash "tge/player-ui.jpg" }}" />
</div>

<section class="w-100 pt2 pt4-l flex">
  {{ partial "components/nav-tge.html" . }}

  <main id="scroll-trigger" class="w-80 h-auto">
    {{ partial "tge/who" . }}

    {{ partial "tge/why" . }}

    {{ partial "tge/how" . }}

    {{ partial "tge/token" . }}

    {{ partial "tge/roadmap" . }}

    {{ partial "sections/collaborators" . }}

    {{ partial "sections/team" . }}

    {{ partial "sections/press" . }}

    {{ partial "tge/whitepaper" . }}

    {{ partial "tge/subfooter-tge" . }}
  </main>
</section>
{{end}}
