{{ $hash := .Site.Data.images.hash }}
{{ $colabs := .Site.Data.sections.collaborators }}
<article id="collaborators" tabindex="5">
  <h2 class="f2">Collaborators</h2>
  <h4 class="f4">Resonate has a strong network of collaborators that extends across the independent music space and beyond.</h4>

  <section class="flex">
    {{ range $colabs.featured }}
    {{ $img := .img }}
    <div class="w-25">
      <div class="w-80 h-auto ba b-black">
        <img class="w-100 h-auto ma0 db" src="/images/{{ index $hash $img }}" />
      </div>
    </div>
    <span class="dib w-75">
      <h4 class="f4"><a href="{{ .link }}" target="_blank" class="link">{{ .name }}</a></h4>
      <p>{{ .description }}</p>
    </span>
    {{ end }}
  </section>
  <section class="flex flex-wrap justify-between">
    {{ range $colabs.collaborators }}
    {{ $img := .img }}
    <div class="w-25">
      <div class="w-80 h-auto ba b-black">
        <img class="w-100 h-auto ma0 db" src='/images/{{ index $hash $img }}' />
      </div>
      {{ .name }}
    </div>
    {{ end }}
  </section>
</article>
