{{ $hash := .Site.Data.images.hash }}
{{ $press := .Site.Data.sections.press }}
<article id="press" tabindex="6" class="mb5">
  {{ range $press.tge_press }}
  {{ $img := .img }}
  <blockquote class="flex dib">
    <div class="w-75 flex">
      <div class="w-10">
        <span class="w2 pa0 dib">{{ partial "icons/svg.html" (dict "svg" "quotes" "color" "fill-mid-gray") }}</span>
      </div>
      <span class="f4 w-90 dib lh-copy pr3 border-box">{{ .quote }}</span>
    </div>
    <a href="{{ .link }}" target="_blank" class="w-25 dib bl b--mid-gray">
      <img class="h-auto ma0 center db" src='/images/{{ index $hash $img }}' />
    </a>
  </blockquote>
  {{ end }}
</article>
