{{ $hash := .Site.Data.images.hash }}
{{ $img := .Params.img }}
<div class="w-100 w-50-m w-25-l pt4">
  <a href="{{ .Permalink }}" class="dib link bn w-70 h-auto relative center">
    <div class="absolute ba b--black w-90" style="left: 5%; top: 5%; padding-bottom:90%;"></div>
    <img class="w-100 h-auto ma0 db" src='/images/{{ index $hash $img }}' />
    <span class="f5 dib pa0 mt2 near-black ttu">{{ .Params.title }}</span><br>
    <span class="body2 dib pa0 lh-title dark-gray">{{ .Params.subhead }}</span>
  </a>
</div>
