/* Homepage */
#featured .release:nth-child(1n+7) {
  display: none;
}
@media screen and (min-width: 60rem) {
  #featured .release:nth-child(1n+6) {
    display: none;
  }
}
@media screen and (min-width: 25rem) and (max-width: 29.9375rem) {
  .release {
    width: 50%;
  }
}
