{{ define "main" }}

<div class="mani-white fl overflow-hidden">
  <div class="pa5 pb0">
    <div class="f-mani mb6">
      Streaming has brought about a massive paradigm shift in music.
      <br/>
      <br/> We think it’s time for another.
    </div>

    <div class="manifesto">
      {{ range .Params.paragraphs }}
         {{ partial "custom/manifesto/paragraph.html" . }}
      {{ end }}
    </div>

  </div>
</div>

{{ partial "custom/manifesto/halftone_img_horz.html" . }}
<div class="mani-outro pa5 fl white">
  <div class="cta w-75 mt4">
    <h2 class="f3">
      We are building a music streaming network that will replace broken industry models with fairness, transparency, and cooperation.
      <br />
      <br />
      <strong>Join the closed beta now.</strong>
    </h2>
    <form class="form-white">
        <input class="g2" type="text" placeholder="Email" />
        <br />
        <button class="btn g2 mt1 btn-white" type="submit" />
          Join
        </button>
    </form>
  </div>


  <div class="cta w-100 mt5 mb5 white overflow-hidden fl">

    <h2 class="f3">
      Token Generation Event
      <br />
      <strong>Be part of a fairer future.</strong>
    </h2>

    <div class="counter-big fl w-100">
      <div class="g1 tc fl br b--white">
        <div class="f2">01</div>
        <div>DAYS</div>
      </div>
      <div class="g1 tc fl br b--white">
        <div class="f2">01</div>
        <div>HOURS</div>
      </div>
      <div class="g1 tc fl br b--white">
        <div class="f2">01</div>
        <div>MINUTES</div>
      </div>
      <div class="g1 tc fl">
        <div class="f2">01</div>
        <div>SECONDS</div>
      </div>
    </div>

    <div class="w-100 fl mt3">
      <a href="/tge" class="btn g1 mt1 btn-white"/>
        Learn more
      </a>
    </div>

  </div>

</div>
{{end}}
