{{ define "main" }}
<section class="w-100 ph1 ph3-ns pt2 pt6-l">
  {{ partial "components/titleblock.html" . }}

  <section class="f5 f4-ns lh-copy pt3 pt5-l mb4 mb5-l ">
    {{ range .Params.paragraphs }}
    <div class="paragraphs w-100 flex flex-column flex-row-l pr5-l">
        <div class="w-100 w-20-l">
          <div class="w4 center-l pa2">
            {{ if .icon }}
            {{ $icon := .icon }}
            {{ partial "icons/svg.html" (dict "svg" $icon "color" "fill-black") }}
            {{ end }}
          </div>
        </div>
        <div class="w-100 w-80-l">
       {{ partial "components/paragraph" . }}
       {{ if .links }}
       {{ range .links }}
       {{ partial "components/link" . }}
       {{ end }}
       {{ end }}
       </div>
     </div>
     {{ end }}
  </section>
</section>
{{end}}
