{{ define "main" }}
<section class="w-100 ph1 ph3-ns pt2 pt6-l relative z-9090">
  {{ partial "components/titleblock.html" . }}
  <p class="w-60-l f5 f4-ns lh-title mt1">Resonate gives everyone the chance to own something real in the digital age.</p>
</section>

<div class="w-100 cf" style="margin-top: -150px; z-index: 0;">
  {{ partial "about/halftone_img" . }}
  <img class="w-80 h-auto db fr relative z-9000" style="margin-top: -30%;" src="/images/{{ index .Site.Data.images.hash "tge/player-ui.jpg" }}" />
</div>

<section class="w-100 pt2 pt4-l flex">
  {{ partial "about/nav.html" . }}

  <main id="scroll-trigger" class="w-80 h-auto">
    {{ partial "about/who" . }}

    {{ partial "about/why" . }}

    {{ partial "about/how" . }}

    {{ partial "about/roadmap" . }}
  </main>
</section>
{{end}}
