{{ define "main" }}

{{ $hash := .Site.Data.images.hash }}

<div class="">
  <header id="about-header" class="ph2 ph3-ns mb6">
    <h1 class="w-100 w-70-m w-60-l f1 normal ph2 ph3-ns">{{ .Title }}</h1>
    <p class="f3 ph2 ph3-ns">{{ .Params.subtitle | markdownify }}</p>
  </header>

  {{ with .Params.for }}
  <section class="mb6">
    {{ range . }}
    <div id="{{ .id }}" class="flex flex-column flex-row-reverse-ns items-center mb5">
      <div class="w-100 w-70-m w-80-l ph2 ph3-ns">
        <div style="max-width: 35.2rem">
          <h2 class="di f4 outline normal ph2 mr1">{{ .title | markdownify }}</h2>
          <p class="di f4">{{ .text | markdownify }}</p>
          <p class="f5 mt3">{{ .details | markdownify }}</p>
          {{ with .links }}
          <ul class="pl0">
            {{ range . }}
            <li class="list list-arrow-tr f5 lh-copy">
              {{ with .title }}<p>{{ . }}</p>{{ end }}
              <a href="{{ .href | absURL }}" class="underline">
                <svg width="10" height="10" class="icon-arrow-tr mr2" aria-hidden="true"><use xlink:href="#icon-arrow-tr"></use></svg>
                {{ .text | markdownify }}
              </a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
      </div>
      <figure class="ma0 w-100 w-30-m w-20-l ph2 ph3-ns">
        {{ with .img }}
        <img class="db center h-auto" src="/images/{{ index $hash .src }}" srcset="/images/{{ index $hash (replace .src ".png" "@2x.png") }} 2x" width="160" height="160" alt="">
        {{ end }}
      </figure>
    </div>
    {{ end }}
  </section>
  {{ end }}
  
  {{ with .Params.why }}
  <section id="why" class="bg-black white pa2 pa3-ns">
    <header class="flex flex-column flex-row-ns items-center-ns justify-between ph2 ph3-ns">
      <h2 class="w-100 w-80-m w-60-l mw6 f1 normal mv5">{{ .title | markdownify }}</h2>
      <figure class="ma0 w-100 w-20-m w-40-l">
        {{ with .img }}
        <img class="db center-ns h-auto" src="/images/{{ index $hash .src }}" srcset="/images/{{ index $hash (replace .src ".png" "@2x.png") }} 2x" width="280" height="280" alt="">
        {{ end }}
      </figure>
    </header>
    <div class="flex flex-column flex-row-l items-baseline mb5">
      {{ with .texts }}
      <div class="ph2 ph3-ns w-100 w-60-l">
        {{ range . }}
        <p class="f4 mb4"><span aria-hidden="true">●</span> {{ . | markdownify }}</p>
        {{ end }}
      </div>
      {{ end }}
      {{ with .details }}
      <div class="ph2 ph3-ns w-100 w-40-l">
        {{ range . }}
        <p class="f6 mw6">{{ . | markdownify }}</p>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </section>
  {{ end }}

  {{ with .Params.how }}
  <section id="how">
    <header class="flex items-center justify-between pa3 pa4-ns">
      <h2 class="f1 normal mv5">{{ .title | markdownify }}</h2>
      <figure class="ma0">
        {{ with .img }}
        <img class="db center h-auto" src="/images/{{ index $hash .src }}" srcset="/images/{{ index $hash (replace .src ".png" "@2x.png") }} 2x" width="280" height="280" alt="">
        {{ end }}
      </figure>
    </header>
    <div class="flex flex-column flex-row-l flex-wrap items-strech mb5 bt b--gray">
      {{ range $i, $block := .blocks }}
      <div class="ph3 ph4-ns pt2 pb4 bb b--gray w-100 {{ if (modBool $i 2) }}w-40-l{{ else }}w-60-l bl{{ end }}">
        <p class="f4 mb4">{{ $block.text | markdownify }}</p>
        <p class="f5">{{ $block.details | markdownify }}</p>
      </div>
      {{ end }}
    </div>
  </section>
  {{ end }}

  {{ with .Params.features }}
  <section id="features" class="w-100 pa2 pa3-ns">
    {{ range . }}
    {{ partial "components/feature" ( dict "feature" . "hash" $hash ) }}
    {{ end }}
    {{ partial "components/illustrations-credits" }}
  </section>
  {{ end }}
</div>

{{ end }}
