{{ define "main" }}
<section class="w-100 ph1 ph3-ns pt2 pt6-l">
  {{ partial "components/titleblock.html" . }}
</section>

<section class="w-100 ph1 ph3-ns mb5 flex">
  <div class="w-100 w-60-l pr3 border-box">
    <span class="dib mw7 pa0">{{ .Content }}</span>
  </div>
  <div class="w-40 pv3 ph5 border-box dn db-l">
    <div class="mw5">{{ partial "icons/stream2own.html" (dict "stream2own" "two") }}</div>
  </div>
</section>

<section class="pt3 overflow-hidden">
  <span class="f4 lh-title ph1 ph3-ns pb4 dib">How much does each play cost?</span>
  {{ range .Params.pricerows }}
  <div class="w-100 flex flex-column flex-row-l items-start items-center-l justify-between mb4">
    <div class="ph1 ph3-ns flex items-center">
      <div class="w2 flex items-center">
      {{ if .stream2own }}
      {{ partial "icons/stream2own.html" . }}
      {{ end }}
      </div>
      <span class="v-mid pl3">
        {{ .playcount | safeHTML }}
      </span>
    </div>

    <div class="pricing-lines dn db-l flex-grow-1"></div>

    <div class="pricing-dots relative overflow-hidden z-5">
      <div class="center flex items-center" style="width: {{ .width }}%">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-100"  viewbox="0 0 100 100" preserveAspectRatio="xMidYMid meet"><circle fill="#18191A" cx="50" cy="50" r="50" fill-rule="evenodd"/></svg>
      </div>
      {{ if .paragraph }}
      <div class="pricing-paragraph w-100 w-auto-ns flex flex-row ph4-l border-box z-999">
        <div class="w4 pt3 dn db-l">{{ partial "icons/stream2own.html" ( dict "stream2own" "download" "fill" "#FFF") }}</div>
        <div class="ph4 border-box">{{ .paragraph | safeHTML }}</div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
</section>
{{end}}
