{{ $roadmap := .Site.Data.sections.roadmap }}
<article id="roadmap" tabindex="4" class="pr3">
  <h3 class="f2">Roadmap</h3>
  <section class="w-100 flex">
    <div class="w-50 flex flex-column br b--black">
      <span class="f4 dib w-100 bt bl b-black pa2 border-box">Resonate So Far</span>
      <span class="f4 dib w-100 bt bb bl b-black pa2 border-box">The Stream 2 own Co-Operative is here</span>
      {{ range $roadmap.stage1 }}
         <p class="ph2"><span class='f2 dib v-top pl0' style='line-height: 0.9rem'>&bull;</span>{{ .bullet }}</p>
      {{ end }}
    </div>
    <div class="w-50"></div>
  </section>
  <section class="w-100 flex">
    <div class="w-50"></div>
    <div class="w-50 flex flex-column bl b--black" style="margin-left: -1px;">
      <span class="f4 dib w-100 bt br b-black pa2 border-box">Short term - 2020 - NOW!</span>
      <span class="f4 dib w-100 bt bb br b-black pa2 border-box">STABILISE the funding, the community and the tech</span>
      {{ range $roadmap.stage2 }}
         <p class="ph2"><span class='f2 dib v-top pl0' style='line-height: 0.9rem'>&bull;</span>{{ .bullet }}</p>
      {{ end }}
    </div>
  </section>
  <section class="w-100 flex">
    <div class="w-50 flex flex-column br b--black">
      <span class="f4 dib w-100 bt bl b-black pa2 border-box">Mid term - 2021</span>
      <span class="f4 dib w-100 bt bb bl b-black pa2 border-box">HUMANISE our music community</span>
      {{ range $roadmap.stage3 }}
         <p class="ph2"><span class='f2 dib v-top pl0' style='line-height: 0.9rem'>&bull;</span>{{ .bullet }}</p>
      {{ end }}
    </div>
    <div class="w-50"></div>
  </section>
  <section class="w-100 flex">
    <div class="w-50"></div>
    <div class="w-50 flex flex-column" style="margin-left: -1px;">
      <span class="f4 dib w-100 bt bl br b-black pa2 border-box">Long term - 2022-</span>
      <span class="f4 dib w-100 bt bb bl br b-black pa2 border-box">HARMONISE a broad community ecosystem</span>
      {{ range $roadmap.stage4 }}
         <p class="ph2"><span class='f2 dib v-top pl0' style='line-height: 0.9rem'>&bull;</span>{{ .bullet }}</p>
      {{ end }}
    </div>
  </section>
</article>
