{{ define "main" }}

<div class="center mw8 pa2 pa3-ns">
  {{ with .Params.hero }}
  <header id="manifesto-header" class="flex flex-column flex-row-ns items-center">
    <h1 class="w-100 w-70-m w-60-l normal near-black f4 f4-vw-l ph2 ph3-ns">{{ .title | markdownify }}</h1>
    <div class="w-100 w-30-m w-40-l ph2 ph3-ns">
      {{ with .img }}
      {{- $img := resources.Get .src -}}
      <img class="db center w-full h-auto" src="{{ $img.Permalink }}"{{ if in .src ".png" }}{{ $img2x := resources.Get (replace .src ".png" "@2x.png") }} srcset="{{ $img2x.Permalink }} 2x"{{ end }} width="360" height="360" alt="">
      {{ end }}
    </div>
  </header>
  {{ end }}

  {{ with .Params.paragraphs }}
  <section class="relative flex flex-row-reverse-ns justify-center items-baseline mb6">
    <div id="toc" class="w-40 relative sticky dn db-l" style="top:5rem">
      <ol class="near-black ma0 pl5 pr2 pr3-ns">
        {{ range $index, $paragraph := . }}
        {{ $i :=add $index 1 }}
        <li class="mb2"><a href="#{{ $i }}" class="no-underline">{{ $paragraph.title }}</a></li>
        {{ end }}
      </ol>
    </div>
    <ol class="list-ol w-100 w-60-l mw7- f4 lh-copy ma0 ph2 ph3-ns">
      {{ range $index, $paragraph := . }}
      {{ $i :=add $index 1 }}
      <li id="{{ $i }}" class="list pt5">
        <h2 class="di f4 f4-vw-l">{{ $paragraph.title | markdownify }}</h2>
        <p class="di f4 f4-vw-l">{{ $paragraph.text | markdownify }}</p>
      </li>
      {{ end }}
    </ol>
  </section>
</div>
{{ end }}

{{ end }}
