<article id="how" tabindex="2" class="pr3">
  <h3 class="f1">How</h3>
  {{ $hash := .Site.Data.images.hash }}
  {{ range .Params.how }}
  <div class="w-100 flex flex-column flex-row-l bg-black white pv4 mb4 border-box">
    <div class="w-100 w-20-l">
      <div class="w3 center-l">
        {{ if .icon }}
        {{ $icon := .icon }}
        {{ partial "icons/svg.html" (dict "svg" $icon "color" "fill-white") }}
        {{ end }}
      </div>
    </div>
    <div class="f4 lh-title w-100 w-80-l pr5-l">
      {{ .paragraph | safeHTML  }}
    </div>
 </div>
 {{ end }}
</article>
