{{ $roadmap := .Site.Data.sections.roadmap }}
<article id="roadmap" tabindex="4">
  <h3 class="f2">Roadmap</h3>
  <section class="w-100 flex">
    <div class="w-50 flex flex-column br b--black">
      <span class="dib w-100 bt bl b-black pa2 border-box">Stage 1</span>
      <span class="dib w-100 bt bb bl b-black pa2 border-box">Stream 2 own</span>
      {{ range $roadmap.stage1 }}
         <p>{{ .bullet }}</p>
      {{ end }}
    </div>
    <div class="w-50"></div>
  </section>
  <section class="w-100 flex">
    <div class="w-50"></div>
    <div class="w-50 flex flex-column bl b--black">
      <span class="dib w-100 bt br b-black pa2 border-box">Stage 2</span>
      <span class="dib w-100 bt bb br b-black pa2 border-box">Stream 2 own</span>
      {{ range $roadmap.stage2 }}
         <p>{{ .bullet }}</p>
      {{ end }}
    </div>
  </section>
  <section class="w-100 flex">
    <div class="w-50 flex flex-column br b--black">
      <span class="dib w-100 bt bl b-black pa2 border-box">Stage 3</span>
      <span class="dib w-100 bt bb bl b-black pa2 border-box">Stream 2 own</span>
      {{ range $roadmap.stage3 }}
         <p>{{ .bullet }}</p>
      {{ end }}
    </div>
    <div class="w-50"></div>
  </section>
  <section class="w-100 flex">
    <div class="w-50"></div>
    <div class="w-50 flex flex-column">
      <span class="dib w-100 bt bl br b-black pa2 border-box">Stage 4</span>
      <span class="dib w-100 bt bb bl br b-black pa2 border-box">Stream 2 own</span>
      {{ range $roadmap.stage4 }}
         <p>{{ .bullet }}</p>
      {{ end }}
    </div>
  </section>
</article>
