<div class="mt3 mr5 mb5 overflow-hidden">
  <h2 class="f1 lh-title mb2">Be part of the future of music.</h2>

  <a href="/" class="ba b--near-black pa2 mt1 ml2 flex link near-black ttu" style="width: 248px;"/>
    <span class="center">Register Now</span>
  </a>

  <div class="counter-big w-100 cf mt4">
    <div class="g1 tc fl br b--black">
      <div class="f2 lh-copy">01</div>
      <div>DAYS</div>
    </div>
    <div class="g1 tc fl br b--black">
      <div class="f2 lh-copy">01</div>
      <div>HOURS</div>
    </div>
    <div class="g1 tc fl br b--black">
      <div class="f2 lh-copy">01</div>
      <div>MINUTES</div>
    </div>
    <div class="g1 tc fl">
      <div class="f2 lh-copy">01</div>
      <div>SECONDS</div>
    </div>
  </div>

</div>
