<div class="w-100 mt5 mb5 overflow-hidden cf">
  <h2 class="f3">Be part of the future of music.</h2>

  <div class="counter-big fl w-100">
    <div class="g1 tc fl br b--black">
      <div class="f2">01</div>
      <div>DAYS</div>
    </div>
    <div class="g1 tc fl br b--black">
      <div class="f2">01</div>
      <div>HOURS</div>
    </div>
    <div class="g1 tc fl br b--black">
      <div class="f2">01</div>
      <div>MINUTES</div>
    </div>
    <div class="g1 tc fl">
      <div class="f2">01</div>
      <div>SECONDS</div>
    </div>
  </div>

  <div class="w-100 fl mt3">
    <a href="/tge" class="btn g1 mt1"/>
      Learn more
    </a>
  </div>
</div>
