<section class="pt5 cf">
  <img class="w5 h-auto dib fl" src="/images/{{ index .Site.Data.images.hash "tge/whitepaper.svg" }}" />
  <h3 class="f2 mb2 lh-title dib fl mt0 ml3">Read<br>The<br>Whitepaper</h3>
</section>

<a href="/" class="dib ba b--near-black pt1 pr1 pl1 mt1 ml2 flex link near-black" style="width: 248px;"/>
  <span class="w2 ma1 pa0 dib pl0 v-btm">{{ partial "icons/svg.html" (dict "svg" "download_modern" "color" "fill-near-black") }}</span>
  <span class="center">WHITEPAPER<br>
    <span class="body2 pa0">Download now</span>
  </span>
</a>
