<section class="w-100 h-auto mt2 mt3-l bg-black pa0 flex flex-wrap items-start white">
  <div class="w-60-ns w-100-m w-100 pa0">
    <img class="w-100 h-auto ma0 db" src="/images/{{ index .Site.Data.images.hash "gada-562x562.jpg" }}" />
  </div>
  <div class="w-40-ns w-100-m w-100 flex flex-column pa3">
    <span class="w-100 mid-gray pb2">Featured</span>
    <div class="w-100 flex bg-white-07">
      <div class="flex flex-column justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w1 pa3" viewBox="0 0 100 100">
          <path fill="#FFF" d="M2 98c-.3 0-.7-.1-1-.3-.7-.4-1-1-1-1.7V4c0-.7.3-1.3 1-1.6a2 2 0 0 1 2-.1l95.8 46c.8.3 1.2.9 1.2 1.7 0 .8-.4 1.4-1.2 1.8L3 97.8a4 4 0 0 1-1 .2z"/>
        </svg>
      </div>
      <div class="flex flex-column justify-center">
        <span class="f4">GADA</span>
        <span>Littlebabyangel</span>
      </div>
    </div>
    <div class="flex flex-column pv2">
      <div class="flex pv2">
         <span class="w-40 near-black">Label</span>
         <span class="w-60 mid-gray">LuckyMe</span>
      </div>
      <div class="flex pv2">
         <span class="w-40 near-black">Producers</span>
         <span class="w-60 mid-gray">Cameron Morse<br>Stephen Armstrong</span>
      </div>
      <div class="flex pv2">
         <span class="w-40 near-black">Artwork</span>
         <span class="w-60 mid-gray">Littlebabyangel</span>
      </div>
      <div class="flex pv2">
         <span class="w-40 near-black">Genres</span>
         <span class="w-60 mid-gray">Grime</span>
      </div>
      <div class="flex pv2">
         <span class="w-40 near-black">Year</span>
         <span class="w-60 mid-gray">2018</span>
      </div>
  </div>
  </div>
</section>
