<div class="w-100 flex flex-column flex-row-l justify-between white bg-black pa2 pa3-l pr0-l overflow-hidden">
  <div class="w-auto">
    <span class="f-tge">The Resonate Token <br class="dn di-l">Generation <br class="di dn-l">Event is now <span class="f-tge-green">open</span>.</span>
  </div>
  <div class="w-auto pr2-l flex items-center">
    <span class="db dn-l pa0 pt2 pt0-l">
      <a href="/tge" class="btn btn-fat btn-true-white ttu"/>
        Learn More
      </a>
    </span>
    <div class="f5 f4-ns pl2 pl0-l pr3-l">
      <span class="f5 dark-gray ttu mb1 pa0">Closing in</span><br>
      1d&nbsp;&nbsp;21h&nbsp;&nbsp;43m&nbsp;&nbsp;21s
    </div>
    <span class="dn db-l pa0">
      <a href="/token-generation-event" class="btn btn-fat btn-true-white ttu"/>
        Learn More
      </a>
    </span>
  </div>
</div>
