.mani-black,
.mani-white {

}

.mani-white {
  z-index: 1;
  background: #fff;
}

.mani-black {
  background: #000;
}

.mani-black .f-mani span {
  border-color: #fff;
}

.mani-outro {
  background: #000;
}
