// Universal styles
.section-black,
.section-white {
  font-size: 2.6rem;
  letter-spacing: -2px;
  line-height: 2.9rem;
}

.section-black {
  color: #FFF;
  background-color: #000;
}

.section-white {
  color: #000;
  background-color: #FFF;
}

// Home page
.home-f1 {
  font-size: 11.13rem;
  letter-spacing: -15px;
  line-height: 6.200rem;
  margin: 7.3rem 0 2.9rem 0;
}

a.home-btn {
  width:160px;
  height: 66px;
  line-height: 66px;
}
