@import '../base/tachyons/variables';

// Home page
.f2-home {
  font-size: $font-size-2;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 6.200rem;
  margin: 1.4rem 0 0rem 0;
}

@media screen and (min-width: 30em) {
  .f2-home {
    font-size: 11.13rem;
    letter-spacing: -15px;
    line-height: 11.13rem;
    margin: 7.3rem 0 2.9rem 0;
  }
}
