@import '../base/tachyons/variables';

// Home page
.f2-home {
  font-size: $font-size-2;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 6.200rem;
  margin: 1.4rem 0 0rem 0;
}

@media screen and (min-width: 30em) {
  .f2-home {
    font-size: 11.13rem;
    letter-spacing: -15px;
    line-height: 11.13rem;
    margin: 7.3rem 0 2.9rem 0;
  }
}

// paragraphs
.paragraph-link::before {
  content: url("/images/link-arrow-5ac28138.svg");
}

// Manifesto
.mani-outro {
  background: #000;
}

.mani-black .f-mani span {
  border-color: #fff;
}

// pricing
.pricing-dots {
  width: 1026px;
  margin-right: -346px;
}

.pricing-lines {
  height: 1px;
  top: 50%;
  right: 16%;
  left: 20%;
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: bottom;
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

// TGE Banner
.f-tge {
  font-size: 1.44rem;
  line-height: 1.73rem;
  letter-spacing: -1px;
  padding: 0;
}

@media screen and (min-width: 60em) {
  .f-tge {
    font-size: 2.4rem;
    line-height: 2.9rem;
    letter-spacing: -2px;
  }
}

.f-tge-green {
  color: #6CF289;
  font-weight: 600;
  padding:0;
}
