{{ define "main" }}

{{ with .Params.hero }}
<header id="hero" class="bg-black white">
  <div class="flex flex-column-reverse flex-row-ns items-center bb b--near-black pv3 ph2 ph3-ns">
    <div class="w-100 w-70-m w-60-l lh-title f4 f4-vw-l ph2 ph3-ns">
      <p class="tracked-tight" style="max-width:20em">{{ .p1 | markdownify }}</p>
    </div>
    <div class="w-100 w-30-m w-40-l pa4">
      <figure class="mx3 grow ma0 db aspect-ratio aspect-ratio--1x1 invert--dark">
        <span role="img" style="background-position: 0px 25%; background-repeat: no-repeat; background-image: url('https://static.resonate.is/pwa_assets/sprite_optimized.png');" class="aspect-ratio--object cover random-logo"></span>
        <figcaption class="clip">Resonate Coop Logo</figcaption>
      </figure>
    </div>
  </div>
  <div class="flex flex-column flex-row-ns">
    <div class="w-100 w-60-ns ph3 ph4-ns pt3 pb4 bb br-ns b--near-black">
      <p class="f5 f5-vw-l lh-copy mw7">{{ .p2 | markdownify }}</p>
    </div>
    <div class="w-100 w-40-ns ph3 ph4-ns pt3 pb4">
      <p class="f5 f5-vw-l lh-copy mw6">{{ .p3 | markdownify }}</p>
    </div>
  </div>
</header>
{{ end }}

{{ with .Params.playfair }}
<section id="playfair" class="w-100 ph2 ph3-ns pv5">
  <header class="flex flex-column flex-row-ns items-end">
    <div class="w-100 w-60-m w-60-l">
      <p class="f4 f4-vw-l near-black pl3"><span class="tracked-tight">{{ .text }}</span></p>
      <h1 class="f1 f1-vw-l lh-solid tracked-tight normal black ma0 mb3 pl3" style="margin-top:-0.125em;">{{ .title }}</h1>
    </div>
    <div class="w-100 w-40-m w-40-l ph2 ph3-ns pb3-ns mb1-l">
      {{ range .links }}
      <p class="f4 f4-vw-l mv3">
        <span aria-hidden="true" class="mr2">●</span> <strong><a href="{{ .href }}">{{ .text }}</a></strong>
      </p>
      {{ end }}
    </div>
  </header>
  <div class="cf pv4 pv5-l">
    <div class="fl w-100 w-40-l ph2 pl3-ns pr0-ns">
      <p class="f5 f5-vw-l">{{ range .features }}{{ . }}<br>{{ end }}</p>
    </div>
    <div class="fr fl-l w-100 w-40-m w-20-l pv3 pv0-ns ph3 ph4-ns mt1">
      {{- $img := resources.Get "images/illustrations/Playfair_2.png" -}}
      {{- $img2x := resources.Get "images/illustrations/Playfair_2@2x.png" -}}
      <img class="h-auto db center-l" src="{{ $img.Permalink }}" srcset="{{ $img2x.Permalink }} 2x" width="118" height="118" alt="">
    </div>
    <div class="fl w-100 w-60-m w-40-l pl2 pl3-ns pt3 f5 f5-vw-l">
      <a href="https://id.resonate.coop/join" class="btn">{{ T "join_now" }}</a>
      <p class="mt3"><a href="https://stream.resonate.coop/api/v2/user/connect/resonate" class="b">{{ T "login_player" }}</a></p>
    </div>
  </div>
</section>
{{ end }}

<section id="featured" class="ph2 ph3-ns mb5">
  <h2 class="f4 f4-vw-l normal near-black ph2 ph3-ns">Featured releases</h2>
  {{ $featured := getJSON $.Site.Data.featured.releases.url }}
  <div class="releases cf flex flex-wrap">
    {{ range first 20 $featured.data }}
    <div class="release fl w-100 w-33-m w-20-l pa3 mb3">
    {{ partial "components/release" ( dict "release" . ) }}
    </div>
    {{ end }}
  </div>
</section>

{{ with .Params.features }}
<section id="features">
  {{ range . }}
  {{ partial "components/feature" ( dict "feature" . ) }}
  {{ end }}
  <div class="pa3 pa4-ns pt0">{{ partial "components/illustrations-credits" }}</div>
</section>
{{ end }}

<script>
  var releases = document.querySelector(".releases");
  for (var i = releases.children.length - 1; i >= 0; i--) {
    releases.appendChild(releases.children[Math.random() * i | 0]);
  }
</script>

{{ end }}